<!DOCTYPE html>
<html>
<head>
  <title>Network | Sizing</title>

  <style type="text/css">
    html, body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 600px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>

  {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vis.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-slider.js' %}"></script>
    <link href="{% static 'dist/vis-network.min.css' %}" rel="stylesheet" type="text/css" />
    <link  href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link  href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link  href="{% static 'css/slider.css' %}" rel="stylesheet">


</head>



<body onload="draw()">

    <label for="pname" style="margin-left:1%;">邻居查询</label>
    <form action="/find_near" method="get">
        <div class="form-group" style="width:20%;margin-left:1%;">
            <label for="pname">姓名：</label>
            <input type="text" class="form-control" name="htitle" id="pname" name="p">
            <div class="errormessage"></div>
        </div>
        <div class="form-group" style="width:20%;margin-left:1%;">
             <label for="ex1">最大邻居个数：</label>
             <input id="ex1" data-slider-id='ex1Slider' name="maxnear" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
        </div>
        <div class="form-group" style="width:50%;margin-left:1%;">
            <label for="ex1">是否显示邻居间关系：</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked> 是
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">否
                </label>
            </div>
        </div>
        <div class="form-group" style="width:20%;margin-left:1%;">
            <input type="button" class="btn btn-default" style="margin-left:5px" name="Submit" value="提交" id='btn-commit' />
        </div>

    </form>

    <div id="mynetwork" style="float:left;margin-left:1%;"></div>
    <div style="float:left;margin-left:200px;">
        <p>result: <span id='result'></span></p>
    </div>

    <input type="hidden" id="hid"></input>









<script type="text/javascript">

    var nodes = [];
    var edges = [];
    var network = null;
    var maxn = 0;
    $(document).ready(function(){
        slide = $('#ex1').slider({
	        formatter: function(value) {
	            maxn = value;
	            console.log(value)
		    return 'Current value: ' + value;
	        }
        });
        $("#ex1").on("slide", function(slideEvt) {
	        $("#hid").val(slideEvt.value);
        });
        $("#btn-commit").click(function(){
            nodes = [];
            edges = [];
            network = [];
            var name = $("#pname").val();
            var maxnear = $("#ex1").val();
            snode = {id:name,label:name,color:{background:"#ff9966"}};
            nodes.push(snode);
            maxn = $("#hid").val();

            //console.log(maxn);
            $.get("/find_near",{'pname':name,'maxnear':maxn}, function(ret){
                str = '';
                for(var i in ret){
                    if(ret[i]["end.name"] == name) continue;
                    node = {id:ret[i]["end.name"],label:ret[i]["end.name"]};
                    edge = {from:ret[i]['n.name'],to:ret[i]["end.name"],value:ret[i]["r.value"],title:ret[i]["r.value"]}
                    if(ret[i]['n.name'] == name){
                        nodes.push(node)
                        str += "</br>"+ ret[i]['end.name']+":"+ret[i]['r.value']
                    }
                    edges.push(edge)

                }
                //console.log(edges);
                draw();
                $("#result").html(str);
            })
        });
    });
    function draw() {
      // create people.
      // value corresponds with the age of the person
      /*
      nodes = [
        {id: 1,  value: 2,  label: 'Algie' },
        {id: 2,  value: 31, label: 'Alston'},
        {id: 3,  value: 12, label: 'Barney'},
        {id: 4,  value: 16, label: 'Coley' },
        {id: 5,  value: 17, label: 'Grant' },
        {id: 6,  value: 15, label: 'Langdon'},
        {id: 7,  value: 6,  label: 'Lee'},
        {id: 8,  value: 5,  label: 'Merlin'},
        {id: 9,  value: 30, label: 'Mick'},
        {id: 10, value: 18, label: 'Tod'},
      ];*/
      

      // create connections between people
      // value corresponds with the amount of contact between two people
      /*
      edges = [
        {from: 2, to: 8, value: 3, title: '3 emails per week'},
        {from: 2, to: 9, value: 5, title: '5 emails per week'},
        {from: 2, to: 10,value: 1, title: '1 emails per week'},
        {from: 4, to: 6, value: 8, title: '8 emails per week'},
        {from: 5, to: 7, value: 2, title: '2 emails per week'},
        {from: 4, to: 5, value: 1, title: '1 emails per week'},
        {from: 9, to: 10,value: 2, title: '2 emails per week'},
        {from: 2, to: 3, value: 6, title: '6 emails per week'},
        {from: 3, to: 9, value: 4, title: '4 emails per week'},
        {from: 5, to: 3, value: 1, title: '1 emails per week'},
        {from: 2, to: 7, value: 4, title: '4 emails per week'}
      ];
*/
      // Instantiate our network object.
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot',
          scaling:{
            label: {
              min:8,
              max:20
            }
          }
        }
      };
      network = new vis.Network(container, data, options);
    }
  </script>
</body>
</html>