<!DOCTYPE html>
<html>
<head>
  <title>Network | Sizing</title>

  <style type="text/css">
    html, body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 600px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>

  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/vis.js' %}"></script>
  <link href="{% static 'dist/vis-network.min.css' %}" rel="stylesheet" type="text/css" />

</head>



<body onload="draw()">

    <p>请输入两个人名</p>
    <form action="/find_path" method="get"><br>姓名：
        <input type="text" id="fname" name="p"> <br>姓名：
        <input type="text" id="tname" name="p"> <br>

        <button type="button" id='btn-commit'>提交</button>
    </form>

    <p>
        Scale nodes and edges depending on their value. Hover over edges to get a popup with more information.
    </p>
    <div id="mynetwork" style="float:left"></div>
    <div style="float:left;margin-left:200px;">
        <p>result: <span id='result'></span></p>
    </div>









<script type="text/javascript">

    var nodes = [];
    var edges = [];
    var network = null;
    $(document).ready(function(){
        $("#btn-commit").click(function(){
            nodes = [];
            edges = [];
            network = [];
            var fname = $("#fname").val();
            var tname = $("#tname").val();
            //snode = {id:name,label:name};
            //nodes.push(snode);
            $.get("/find_path",{'fname':fname,'tname':tname}, function(ret){
                console.log(ret);
                /*
                for(var i in ret){
                    if(ret[i]["end.name"] == name) continue;
                    node = {id:ret[i]["end.name"],label:ret[i]["end.name"]};
                    edge = {from:ret[i]['n.name'],to:ret[i]["end.name"],value:ret[i]["r.value"],title:ret[i]["r.value"]}
                    if(ret[i]['n.name'] == name){
                        nodes.push(node)
                        str += "</br>"+ ret[i]['end.name']+":"+ret[i]['r.value']
                    }
                    edges.push(edge)

                }
                console.log(edges);
                draw();
                $("#result").html(str);*/
                str = '<br>';
                t_nodes = ret[0];
                t_rels = ret[1];
                t_paths = ret[2];
                for(var i in t_nodes){
                    nodes.push({id:t_nodes[i],label:t_nodes[i]})
                }
                for(var i in t_rels){
                    edges.push({from:t_rels[i]['start_node'],to:t_rels[i]['end_node'],value:t_rels[i]['val'],title:t_rels[i]['val']});
                }
                for(var i in t_paths){
                    for(var j in t_paths[i]['path']){
                        str += t_paths[i]['path'][j]['start_node'] + '--' + t_paths[i]['path'][j]['val'] + '--'
                    }
                    str += tname + '<br>'
                }
                $("#result").html(str)
                draw();
            })
        });
    });
    function draw() {
      // create people.
      // value corresponds with the age of the person
      /*
      nodes = [
        {id: 1,  value: 2,  label: 'Algie' },
        {id: 2,  value: 31, label: 'Alston'},
        {id: 3,  value: 12, label: 'Barney'},
        {id: 4,  value: 16, label: 'Coley' },
        {id: 5,  value: 17, label: 'Grant' },
        {id: 6,  value: 15, label: 'Langdon'},
        {id: 7,  value: 6,  label: 'Lee'},
        {id: 8,  value: 5,  label: 'Merlin'},
        {id: 9,  value: 30, label: 'Mick'},
        {id: 10, value: 18, label: 'Tod'},
      ];*/
      

      // create connections between people
      // value corresponds with the amount of contact between two people
      /*
      edges = [
        {from: 2, to: 8, value: 3, title: '3 emails per week'},
        {from: 2, to: 9, value: 5, title: '5 emails per week'},
        {from: 2, to: 10,value: 1, title: '1 emails per week'},
        {from: 4, to: 6, value: 8, title: '8 emails per week'},
        {from: 5, to: 7, value: 2, title: '2 emails per week'},
        {from: 4, to: 5, value: 1, title: '1 emails per week'},
        {from: 9, to: 10,value: 2, title: '2 emails per week'},
        {from: 2, to: 3, value: 6, title: '6 emails per week'},
        {from: 3, to: 9, value: 4, title: '4 emails per week'},
        {from: 5, to: 3, value: 1, title: '1 emails per week'},
        {from: 2, to: 7, value: 4, title: '4 emails per week'}
      ];
*/
      // Instantiate our network object.
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot',
          scaling:{
            label: {
              min:8,
              max:20
            }
          }
        }
      };
      network = new vis.Network(container, data, options);
    }
  </script>
</body>
</html>