<!DOCTYPE html>
<html>
<head>
    <title>六度搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <style type="text/css">
        html, body {
            font: 10pt arial;
        }
        #mynetwork {
            width: 600px;
            height: 600px;
            border: 1px solid lightgray;
        }
        #mytable td{
            padding:10px 18px
        }
        #mytable tbody tr:hover {  
        background-color: #0180FE;  
        color: #fff;  
        cursor:pointer;  
        }
    </style>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/dist/vis.js"></script>
    <script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <link href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link  href="static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link  href="static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">
    <link  href="static/css/slider.css" rel="stylesheet">
    <link  href="static/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body onload="draw()">
    <div class="row">
		<div class="span6">
			<ul class="nav nav-tabs" style="margin-left:1%;">
				<li><a href="near.html?name=李克强">人际关系查询</a> </li>
				<li class="active"><a href="path.html">六度查询</a></li>
			</ul>
		</div>
	</div>
    <hr>
    <div id="main-container" class="container" style="margin-left: 0;margin-top:0;padding-left:0">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                        <form action="/find_path" method="get"><br>
                            <div class="row">
                                <div class="col-lg-2 col-sm-3">
                                    <input type="text" class="form-control" name="htitle" id="fname" name="p" placeholder="姓名1">
                                    <div class="errormessage"></div>
                                </div>
                                <div class="col-lg-2 col-sm-3">
                                    <input type="text" class="form-control" name="htitle" id="tname" name="p" placeholder="姓名2">
                                    <div class="errormessage"></div>
                                </div>
                                <div class="col-lg-2 col-sm-3">
                                    <input type="button" class="btn btn-default" style="" name="Submit" value="查询" id='btn-commit' />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <div id="mynetwork" style="width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-success"></a>
                    </div>
                    <div class="panel-body" style="" id="resultbody">
                        <div id="result">
                            <h3><span id="resulttitle">搜索结果</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /* initial a slider */
        var mySlider = $("input.slider").slider();
        var value = mySlider.slider('getValue');
        mySlider
            .slider('setValue', 5)
            .slider('setValue', 7);
        $('#ex1').slider({
	        formatter: function(value) {
		    return 'Current value: ' + value;
	        }
        });

        var nodes = [];
        var edgeset;
        var edges = [];
        var network = null;
        $(document).ready(function(){
            $("#btn-commit").click(function(){
                nodes = [];
                edges = [];
                network = [];
                var t_paths;
                var fname = $("#fname").val();
                var tname = $("#tname").val();
                if(fname==""&&tname!=""){
                    location.href="near.html?name="+tname;
                    return ;
                }
                else if(fname!=""&&tname==""){
                    location.href="near.html?name="+fname;
                    return ;
                }
                else if(fname==""&&tname==""){
                    alert("请输入两个人的姓名！");
                    return ;
                }
                $("#resulttitle").html(fname+"到"+tname+"的路径查询")
                $.get("http://183.174.228.21:1241/find_path",{'fname':fname,'tname':tname}, function(ret){
                   // console.log(ret);
                    str = "<h3><span id='resulttitle'></span></h3><table class='table table-striped' style='width:100%' id='mytable'><thead><th>路径</th><th>pid</th></thead><tbody>";
                    t_nodes = ret[0];
                    t_rels = ret[1];
                    t_paths = ret[2];
                     $("#resulttitle").html("in")
                    if(t_paths.length==0){
                        alert("没找到这条联系哟，是不是输错名字了？");
                        return ;
                    }
                    for(var i in t_nodes){
                        if(fname == t_nodes[i]){
                            nodes.push({id:t_nodes[i],label:t_nodes[i],color:{background:"#ff9966"}})
                        }
                        else if(tname == t_nodes[i]){
                            nodes.push({id:t_nodes[i],label:t_nodes[i],color:{background:"#33cc66"}})
                        }
                        else{
                            nodes.push({id:t_nodes[i],label:t_nodes[i]})
                        }
                    }
                    for(var i in t_paths){
                        path = ""
                        for(var j in t_paths[i]['path']){
                            if(i==0){
                                edges.push({from:t_paths[i]['path'][j]['start_node'],to:t_paths[i]['path'][j]['end_node'],value:t_paths[i]['path'][j]['val'],title:t_paths[i]['path'][j]['val'],pid:i});
                            }
                            else{

                                edges.push({from:t_paths[i]['path'][j]['start_node'],to:t_paths[i]['path'][j]['end_node'],value:t_paths[i]['path'][j]['val'],title:t_paths[i]['path'][j]['val'],pid:i});
                            }
                            path += t_paths[i]['path'][j]['start_node'] + '--' + t_paths[i]['path'][j]['val'] + '--'
                        }
                        path += tname
                        str += "<tr><td>"+path+"</td><td>"+i+"</td></tr>"
                    }
                    str+='</tbody></table>'
                    $("#result").html(str);
                    $("#resulttitle").html(fname+"到"+tname+"的路径查询")
                    var table=
                    $('#mytable').DataTable({
                        "paging": true,
                        "iDisplayLength": 8, //默认每页数量
                        "bPaginate": true, //翻页功能
                        "bLengthChange": false, //改变每页显示数据数量
                        "bFilter": false, //过滤功能
                        "bInfo": true, //页脚信息
                        "bAutoWidth": true, //自动宽度
                        "bRetrieve": true,
                        "processing": true,
                        "ordering": false,
                        "bSort": false,
                        //"serverSide" : true,//服务器端进行分页处理的意思
                        //"bPaginate": true,
                        //"bProcessing": true
                        columns : [{data : "id"},{data:"pid"}],
                        "columnDefs": [
                        {
                            "targets": [ 1 ],
                            "visible": false,
                            "searchable": false
                        }]

                    });
                    draw();
                    $("#mytable tbody").on("mouseover","tr",function()
                    {//给tr或者td添加click事件
                        var data=table.row(this).data();//获取值的对象数据
                        //console.log(data);//某一行中要是用的表头值
                        //console.log("draw");

                        //console.log(t_paths[data['pid']]);
                        var items =edgeset.get({
                            filter: function (item) {
                            return item.pid == data['pid'];
                            }
                        });
                        //console.log(items);
                        for(i=0;i<items.length;i++){
                            items[i].color={
                                color:"#ff0000"
                            }
                            edgeset.update(items[i]);
                        }
                    });
                    $("#mytable tbody").on("mouseout","tr",function()
                    {//给tr或者td添加click事件
                        var data=table.row(this).data();//获取值的对象数据
                        //console.log(data);//某一行中要是用的表头值
                        //console.log("draw");

                        //console.log(t_paths[data['pid']]);
                        var items =edgeset.get({
                            filter: function (item) {
                            return item.pid == data['pid'];
                            }
                        });
                        //console.log(items);
                        for(i=0;i<items.length;i++){
                            items[i].color={
                                color:"#2B7CE9"
                            }
                            edgeset.update(items[i]);
                        }
                    });/*
                    $("#mytable tbody").on("click","tr",function()
                    {//给tr或者td添加click事件
                        var data=table.row(this).data();//获取值的对象数据
                        //console.log(data);//某一行中要是用的表头值
                        //console.log("draw");

                        //console.log(t_paths[data['pid']]);
                        var items =edgeset.get({
                            filter: function (item) {
                            return item.pid != data['pid'];
                            }
                        });
                        //console.log(items);
                        for(i=0;i<items.length;i++){
                            //items[i].color={
                              //  color:"#ffffff"
                            //}
                            items[i].hidden=true;
                            edgeset.update(items[i]);
                        }
                    });*/
                })
            });
            /* 处理页面参数 */
            if(window.location.href.split("=").length>1){
                ids = window.location.href.split("=")[1];
                ids = decodeURI(ids);
                if(ids.split("&").length>1){
                    $("#fname").val(ids.split("&")[0]);
                    $("#tname").val(ids.split("&")[1]);
                    $('#btn-commit').trigger("click");
                }
                else{
                    if(ids!=""){
                         location.href="near.html?name="+ids;
                    }
                    else{
                        $("#fname").val("扎克伯格");
                        $("#tname").val("卡扎菲");
                        $('#btn-commit').trigger("click");
                    }
                }
            }
            else{
                $("#fname").val("扎克伯格");
                $("#tname").val("卡扎菲");
                $('#btn-commit').trigger("click");
            }
        });
        function draw() 
        {
            var container = document.getElementById('mynetwork');
            edgeset = new vis.DataSet(edges)
            var data = {
            nodes: nodes,
            edges: edgeset
            };
            var options = {
                nodes: {
                    shape: 'dot',
                    scaling:{
                        label: {
                        min:8,
                        max:20
                        }
                    },
                    color:{
                        highlight: {//节点选中时状态颜色
                            background: '#ec7171',
                            border: '#f90909'
                        },
                    }
                },

                layout:{
                    randomSeed:1,//配置每次生成的节点位置都一样，参数为数字1、2等
                },
            };
            network = new vis.Network(container, data, options);
            
        }
  </script>
</body>
</html>